{% extends 'todo/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>created: {{ post.created_date }}</p>
                {% if post.deadline is not None and post.deadline != '' %}
                    deadline: {{ post.deadline }}
                {% endif %}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">・{{ post.title }}</a></h1>
            {% if post.achievement %}
                達成度: <progress value="{{ post.achievement }}" max="100">{{ post.achievement }}%</progress>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}