{% extends 'todo/base.html' %}

{% block content %}
    <h1>Todo</h1>
    <form method="POST" action="">
        <div class="post-form">
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>
        <div class="post-form">
            {{ form.detail.label_tag }}
            {{ form.detail }}
            {{ form.detail.errors }}
        </div>
        <div class="post-form">
            {{ form.deadline.label_tag }}
            {{ form.deadline }}
            {{ form.deadline.errors }}
        </div>
        <div>
            {{ form.achievement.label_tag }}
            {{ form.achievement }}
            {{ form.achievement.errors }}
        </div>
    
        <button type="submit" class="save btn btn-default">Save</button>
        {% csrf_token %}
    </form>
{% endblock %}