.page-header {
    background-color: #27cfe6;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-bottom: solid 3px black;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    border-bottom: solid 3px black;
}
h1, h2, h3, h4 {
    font-family: cursive;
}
.container {
    margin: 0 auto;
    width: 100%;
}

